<div class="col_12">

    <h1>Divisions of Allstate</h1>
    <hr>

</div>

<div class="home">

    <h4><a href="#"<h4>Allstate Financial</h4></a></h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>             

</div>

<div class="home">

    <h4><a href="#"<h4>Allstate Protection</h4></a></h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>            

</div>

<div class="home">

    <h4><a href="#"<h4>ATO</h4></a></h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>             

</div>

<div class="home">
	<hr>
</div>

<div class="homeclear"
</div>

<div class="home">

    <h4><a href="#"<h4>Corporate</h4></a></h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>               

</div>

<div class="home">

    <h4><a href="#"<h4>Investments</h4></a></h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>            

</div>


</div><!-- End Item Container -->


</li><!-- End Item -->
</ul>
